*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f8fdff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill{
    width: 180px;
    height: 180px;
    position: relative;
}
.outer{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0,0,0.15),
    -6px -6px 10px -1px rgba(255, 255,255,0.7);
}
.inner{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px rgba(255, 255,255,1),
    0.5px 0.5px 0px rgba(0,0,0,0.15),
    0px 12px 10px -10px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}
#number{
    font-weight: 600;
    color: #555;
}

